.create-post {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.create-post-title {
    font-size: 30px;
    color: var(--form-title-color);
    margin-bottom: 10px;
}

.create-post-form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.create-post-input,
.create-post-textarea,
.create-post-upload {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--form-border-color);
    font-size: 21px;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--form-input-bg);
    color: var(--form-text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.create-post-textarea {
    resize: none;
}

.create-post-upload {
    background-color: var(--form-upload-bg);
    color: var(--form-text-color);
    cursor: pointer;
}

.create-post-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--form-btn-bg);
    color: var(--form-btn-text);
    border: none;
    font-size: 21px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
}